name: git-action-full
run-name: ${{ github.actor }}
on: push
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: use nodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20.1'
      
      - name: login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3
        
      - name: build docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/:v1